name: Docker Image CI

on:
  pull_request:
    branches: [ "main" ]
    paths:
    - 'app/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Login into ECR
      run: aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.us-east-1.amazonaws.com

    - name: Checkout
      uses: actions/checkout@v3

    - name: Build and tag the Docker image for BTC Apps
      run: |
        export DOCKER_IMAGE_TAG=v0.0.1
        cd serviceA; docker build -t ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.us-east-1.amazonaws.com/my-ecr-btc:$DOCKER_IMAGE_TAG .
        docker push ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.us-east-1.amazonaws.com/my-ecr-btc:$DOCKER_IMAGE_TAG

    - name: Build and tag the Docker image for Rest API
      run: |
        export DOCKER_IMAGE_TAG=v0.0.1
        cd serviceB; docker build -t ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.us-east-1.amazonaws.com/my-ecr-api:$DOCKER_IMAGE_TAG .
        docker push ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.us-east-1.amazonaws.com/my-ecr-api:$DOCKER_IMAGE_TAG